<ion-header>
  <ion-navbar>
    <ion-title>
      <span *ngIf="!changing">neues Geschenk anlegen</span>
      <span *ngIf="changing">Geschenk ändern</span>
    </ion-title>
    <ion-buttons end icon-only large *ngIf="changing" (click)="delete(gift)">
      <button ion-button>
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <button ion-button round outline (click)="takePicture()">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-9>
        <ion-item>
          <ion-input #title type="text" placeholder="Titel" [(ngModel)]="gift.title"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  Latest Picture:
  <img [src]="base64Image" *ngIf="base64Image"/>
  <ion-input type="text" [value]="size"></ion-input>
  <ion-item>
    <ion-textarea placeholder="Beschreibung" [(ngModel)]="gift.description"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>geschätzter Preis (€)</ion-label>
    <ion-input type="number" [(ngModel)]="gift.estimatedPrice"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>nicht teurer</ion-label>
    <ion-checkbox [(ngModel)]="gift.doNotExceedPrice"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>vorher nochmal fragen</ion-label>
    <ion-checkbox [(ngModel)]="gift.doAskBeforeBuy"></ion-checkbox>
  </ion-item>
  <div>&nbsp;</div>
  <button ion-button full (click)="addOrUpdateGift()">
    <span *ngIf="changing">speichern</span>
    <span *ngIf="!changing">eintragen</span>
  </button>
</ion-content>
