<ion-header>
  <ion-navbar>
    <ion-title>
      <span *ngIf="!changing">neues Geschenk anlegen</span>
      <span *ngIf="changing">Geschenk ändern</span>
    </ion-title>
    <ion-buttons end icon-only large>
      <button ion-button (click)="delete(gift)" *ngIf="changing">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button (click)="save(gift, images)">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input type="text" placeholder="Titel" [(ngModel)]="gift.title" #title></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button [outline]="!images.length" (click)="tooglePictures()">
          <ion-icon name="camera"></ion-icon>
        </button>
        <button ion-button [outline]="!gift.description"
                title="füge eine Beschreibung hinzu"
                (click)="showDescription()">
          <ion-icon name="clipboard"></ion-icon>
        </button>
        <button ion-button [outline]="!gift.estimatedPrice"
                title="füge einen Preis hinzu"
                (click)="showEstimatedPrice()">
          €
        </button>
        <button ion-button [outline]="!gift.shared" (click)="share(gift)">
          <ion-icon name="person-add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item *ngIf="images.length">
    <img *ngFor="let image of images"
         [src]="asImage(image)"
         width="50" height="50"
         style="margin:1rem"/>
    <button ion-button
            title="füge ein weiteres Bild hinzu"
            (click)="takeAnotherPicture()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-item>

  <ion-item *ngIf="gift.description">
    <ion-textarea placeholder="Beschreibung"
                  [(ngModel)]="gift.description" #inputToFocus></ion-textarea>
  </ion-item>
  <ion-item *ngIf="gift.estimatedPrice">
    <ion-label>geschätzter Preis (€)</ion-label>
    <ion-input type="number" [(ngModel)]="gift.estimatedPrice"></ion-input>
  </ion-item>
  <ion-item *ngIf="gift.doNotExceedPrice">
    <ion-label>nicht teurer</ion-label>
    <ion-checkbox [(ngModel)]="gift.doNotExceedPrice"></ion-checkbox>
  </ion-item>
  <ion-item *ngIf="gift.doAskBeforeBuy">
    <ion-label>vorher nochmal fragen</ion-label>
    <ion-checkbox [(ngModel)]="gift.doAskBeforeBuy"></ion-checkbox>
  </ion-item>
</ion-content>
