page-login {
  .title {
    font-size: 3em;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2px 10px 2px;
    margin-bottom: 2em;
  }
  ion-grid {
    height: 80%;
    justify-content: flex-end;
  }

  @media screen and (orientation: landscape) {
    .login_img {
      background: url("/assets/login_title.jpg") no-repeat center center fixed;
      background-size: cover;
    }
  }

  @media screen and (orientation: portrait) {
    .login_img {
      background: url("/assets/login_title_h2.jpg") no-repeat center center fixed;
      background-size: cover;
    }
  }
}
