<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!changing">Neue Gruppe<br>
      <span>Teilnehmer hinzufügen</span>
    </ion-title>
    <ion-title *ngIf="changing">Gruppe bearbeiten<br>
      <span>Teilnehmer hinzufügen/entfernen</span>
    </ion-title>
    <ion-buttons end icon-only large *ngIf="changing" (click)="delete(group)">
      <button ion-button>
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="next()">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </ion-fab>
  <button *ngFor="let su of selectedUsers" (click)="unselect(su)">
    <ion-icon name="remove-circle"></ion-icon>
    {{ su.displayName }}
  </button>
  <ion-list inset>
    <ion-list-header>
      Freunde
    </ion-list-header>
    <ion-item *ngFor="let user of friends">
      <button ion-item (click)="select(user)" *ngIf="!user.selected">
        <user-profile [user]="user"></user-profile>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
